aside {
    grid-area: aside;
    background-color: #EAF2F8;
    
}
.section-4 {
    padding: 1.3rem;
}
.contact__subtitle {
    font-size: 1.8rem;
    text-align: center;
}
.contact-box-item {
    margin: 1.6rem 0;
    h3 {
        font-size: 1.4rem;
        span {
            margin-right: 0.3rem;
            font-size: 2rem;

        }
    }
    p,a {
        font-size: 1.3rem;
        margin-top: 0.2rem;
    }
}
.contact__container-facebook {
    h3 {
        span {
            color: #3498DB;
        }
    }
}
.contact__container-whatsapp {
    h3 {
        span {
            color: #82E0AA;
        }
    }
}
.contact__container-instagram {
    h3 {
        span {
            color: #BB8FCE;
        }
    }
}
.contact__container-telegram {
    h3 {
        span {
            color: #AED6F1;
        }
    }
}