header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;

}
.header__title {
    h2 {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 3px;
    }
}
.nav {
    nav {
        ul {
            list-style: none;
            li {
                text-align: center;
                display: block;
                padding: 3px 0;
                a {
                    font-size: 1.4rem;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}