* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
// Import que no son de estilos principales
@import 'variables';
// Import principales de estlos
@import 'grid-system';
@import 'header';
